aicsimageio==3.3.1
aicspylibczi==2.6.0
astroid==2.4.2
certifi==2020.6.20
click==7.1.2
cloudpickle==1.6.0
contextvars==2.4
cycler==0.10.0
dask==2.30.0
decorator==4.4.2
distributed==2.30.0
HeapDict==1.0.1
imagecodecs==2020.5.30
imageio==2.9.0
immutables==0.14
isort==5.6.4
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.6.1
matplotlib==3.3.2
mccabe==0.6.1
msgpack==1.0.0
natsort==7.0.1
networkx==2.5
numpy==1.19.2
opencv-contrib-python==4.4.0.44
Pillow==8.0.1
psutil==5.7.3
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3.1
readlif==0.2.1
scikit-image==0.17.2
scipy==1.5.3
six==1.15.0
sortedcontainers==2.2.2
tblib==1.7.0
tifffile==2020.9.3
toml==0.10.1
toolz==0.11.1
tornado==6.0.4
typed-ast==1.4.1
wrapt==1.12.1
zict==2.0.0
